[submodule "plugin-common-html"]
	path = plugin-common-html
	url = https://github.com/nicolasaigner/plugin-common-html
[submodule "plugin-common-node"]
	path = plugin-common-node
	url = https://github.com/nicolasaigner/plugin-common-node
